<table (click)="performMove()" class="board">
  <tr>
    <td id="0">{{ board[0] }}</td>
    <td id="1">{{ board[1] }}</td>
    <td id="2">{{ board[2] }}</td>
  </tr>
  <tr>
    <td id="3">{{ board[3] }}</td>
    <td id="4">{{ board[4] }}</td>
    <td id="5">{{ board[5] }}</td>
  </tr>
  <tr>
    <td id="6">{{ board[6] }}</td>
    <td id="7">{{ board[7] }}</td>
    <td id="8">{{ board[8] }}</td>
  </tr>
</table>

<div>
  <p>{{ currentPlayer.name }}'s turn</p>
  <p *ngIf="hasAnyoneWon">{{ currentPlayer.name }} won</p>
  <button *ngIf="hasAnyoneWon">Restart</button>
  <p *ngIf="isMoveInvalid">Invalid move</p>
</div>
